body {
  background-color: #1d1e1f; 
  color:  #f0f0f0; 
}

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App h2 {
  text-align: left;
  padding-left: 8%;
  padding-top: 1%;
}

.form-container {
  max-width: 90%;
  margin: auto;
  margin-top: 3%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.form-group {
  flex: 1;
  min-width: 200px;
}

label {
  display: flex;
  margin-bottom: -20px;
  margin-left: 14%;
}

input[type="text"],
input[type="number"],
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 10px;
  margin: 35px;
  border: 1px solid #3b3b3b;
  border-radius: 4px;
  width: 200px; 
  height: 23px; 
  background-color: #3b3b3b;
  color:  #f0f0f0; 
}

button {
  cursor: pointer;
  background-color: #1d1e1f;
  font-weight: bold;
  color: #754bf5;
  border-color: #754bf5;
  border: 2px solid;
  width: 170px;
  border-radius: 7px;
  height: 50px; 
  margin-top: 3px;
}

button:hover {
  background-color: rgba(95, 61, 207, 0.356);
}

.predictions{
  margin-top: -1%;
}
table {
  width: 30%;
  border-collapse: separate;
  text-align: left;
  margin-left: 7.6%;
}

table th, table td {
  text-align: left;
  padding: 5px;
}

table th {
  padding-right: 20px; 
}

